<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum Home</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/login.css">
</head>

<body>
    <!-- Navigation Bar -->
    <nav class="navbar">
        <a href="/" class="logo">POSTIFY</a>
        <div class="nav-links">
            {{ if .LoggedIn }}
            <a href="/profile"><i class="fas fa-user-circle"></i> Profile</a>
            <button id="new_post"><i class="fas fa-plus-circle"></i> Add Post</button>
            <a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
            {{ else }}
            <a onclick="loginClicked()"><i class="fas fa-sign-in-alt"></i> Login</a>
            <a onclick="registerClicked()"><i class="fas fa-user-plus"></i> Register</a>
            {{ end }}
        </div>
    </nav>

    <div class="container">
        <div class="modal-overlay" id="login-modal-overlay">
            <div class="wrapper display_none" id="login-wrapper">
                <h2>Login</h2>
                <form id="loginForm">
                    <div class="input-box">
                        <input type="text" id="username" name="username" placeholder="Enter your username" >
                    </div>
                    <div class="input-box">
                        <input type="password" id="password" name="password" placeholder="Enter your password" >
                    </div>
                    <div class="input-box button">
                        <input id="login" type="submit" value="Login">
                    </div>
                    <div class="error" id="errorMessage"></div>
                </form>
            </div>
        </div>
        
        <div class="modal-overlay" id="register-modal-overlay">
            <div class="wrapper display_none" id="register-wrapper">
                <h2>Register</h2>
                <form>
                    <div class="input-box">
                        <input type="email" name="register_email" id="register_email" maxlength="320" placeholder="Enter your email" >
                    </div>
                    <div class="input-box">
                        <input type="text" name="register_username" id="register_username" placeholder="Choose a username" >
                    </div>
                    <div class="input-box">
                        <input type="password" name="register_password" id="register_password" placeholder="Create a password" >
                    </div>
                    <div class="input-box button">
                        <input id="register" type="submit" value="Register">
                    </div>
                    <div class="error" id="register_errorMessage"></div>
                </form>
            </div>
        </div>
        

        <div class="left-section">
            <section class="search"> <input type="text" class="search-input"
                    placeholder="Search for posts, articles, or categories..." aria-label="Search" /> </section>
            {{if .LoggedIn}}
            <div class="filter-tabs">
                <label>Filter by:</label><br>
                <input type="radio" id="all" name="filter" value="all" checked>
                <label for="all">All Posts</label>

                <input type="radio" id="created" name="filter" value="created">
                <label for="created">Created Posts</label>

                <input type="radio" id="liked" name="filter" value="liked">
                <label for="liked">Liked Posts</label>
            </div>
            {{end}}


            <h1>Posts</h1>
            <div class="posts-section">
                <p id=ErrorPosts style="display: none ;"></p>

                {{ if .Posts }}
                {{ range .Posts }}
                <article id="article_post_{{.ID}}" class="{{.Type}}">
                    <h4>Categories: <span class="posts_categories" style="font-size:15px;"> {{.Category}} </span></h4>
                    <h3>{{ .Title }}</h3>
                    <p id="content-post">{{ .Content }}</p>
                    <p><small>Posted by <strong>{{ .Username }}</strong> on {{ .CreatedAt }}</small></p>

                    <div class="reaction-icons">
                        <i class="fas fa-thumbs-up like-icon" onclick="handleLike(`{{.ID}}`)"></i>
                        <span id="like-count-{{.ID}}" class="like-count">{{.Likes}}</span>
                        <i class="fas fa-thumbs-down deslike-icon" onclick="handleDeslike(`{{.ID}}`)"></i>
                        <span id="deslike-count-{{.ID}}" class="deslike-count">{{.Deslikes}}</span>
                    </div>

                    <!-- Comment Section -->
                    <div class="comments-section">
                        <section class="comments-container" id="comment-container-{{.ID}}">
                            <h2>Comments</h2>
                            {{ if .Comments }}
                            {{ range .Comments }}
                            <div class="comment">
                                <div class="comment-content">
                                    <p class="comment-text" id="comments-content">{{ .Content }}</p>
                                    <p class="comment-author"><strong>{{ .Created_by }}</strong></p>
                                    <p class="comment-date"><small>{{ .CreatedAt }}</small></p>
                                    <div class="reaction-icons">
                                        <i class="fas fa-thumbs-up like-button"
                                            onclick="handlecommentLike(`{{.CommentID}}`)"></i>
                                        <span id="like-num-{{.CommentID}}" class="like-num">{{.Likes}}</span>
                                        <i class="fas fa-thumbs-down deslike-button"
                                            onclick="handlecommentDeslike(`{{.CommentID}}`)"></i>
                                        <span id="deslike-num-{{.CommentID}}" class="deslike-num">{{.Deslikes}}</span>
                                    </div>
                                </div>
                            </div>
                            {{ end }}
                            {{ else }}
                            <p id="none-comment-{{.ID}}">No comments yet.</p>
                            {{ end }}
                        </section>
                        <!-- Comment Form -->
                        <form action="/add-comment" method="POST" class="comment-form">
                            <input type="hidden" name="post_id" value="{{.ID}}">
                            <textarea class="coomment-field" name="comment" maxlength="300" placeholder="Write a comment..."
                                required></textarea>
                            <button type="submit" id="comment-button">
                                <i class="fa fa-paper-plane"></i>
                            </button>
                            <span id="CommentError"></span>
                        </form>
                    </div>
                    <hr>
                </article>

                {{ end }}
                {{ else }}
                <p id="no-posts">No posts to display. Be the first to post!</p>
                {{ end }}
            </div>

        </div>

        {{ if .LoggedIn }}
        <div id="createPostModal" class="create-post-section">
            <h2>Create a New Post</h2>
            <form method="POST" action="/make-post">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" maxlength="50">
                <label for="content">Content:</label><br>
                <textarea id="content" name="content" rows="4" cols="40" maxlength="3000"></textarea>
                <div id="categoryContainer">
                    <div>Category:</div>

                    <input type="checkbox" id="technology" name="category" value="Technology">
                    <label for="technology">Technology</label>

                    <input type="checkbox" id="economy" name="category" value="Economy">
                    <label for="economy">Economy</label>

                    <input type="checkbox" id="science" name="category" value="Science">
                    <label for="science">Science</label>
                    <input type="checkbox" id="sport" name="category" value="Sport">
                    <label for="sport">Sport</label>
                </div>

                <p id="error"></p>
                <div class="twoBtns">
                    <button id="create-post" type="submit">Create Post</button>
                    <span class="close">close</span>
                </div>

            </form>
        </div>
        {{ end }}
    </div>

    <script src="/scripts/Home.js"></script>
    <script src="/scripts/filters.js"></script>
    <script src="/scripts/comments.js"></script>
    <script src="/scripts/like_deslike.js"></script>
    <script src="/scripts/like_comments.js"></script>
    <script src="/scripts/newPost.js"></script>
    <script src="/scripts/handle_category.js"></script>
    <script src="/scripts/Login.js"></script>
    <script src="/scripts/Register.js"></script>
</body>

</html>